# Environment & secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Conda (do not commit env folder if stored locally)
.conda/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# ML model cache
model_cache/
